NEXT_PUBLIC_SUPABASE_URL=https://oqdwoeblazdappzmrmsf.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9xZHdvZWJsYXpkYXBwem1ybXNmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIxMjIyODYsImV4cCI6MjA4NzY5ODI4Nn0._NYEExJFOpFzZDWYGhvKTA-bHBD1N_G_cBB3plrQtoY
